:root {
  --main-bg-color: #ebeff7;
  --main-bg-color-alt: #e5e9f0;
  --border-color: #565e73;
  --bg-color-inverse: #565e73;
  --text-color: #6d6360;
  --text-alt-color: #2e3b64;
  --font-family: '"Helvetica Neue", Helvetica, Arial, sans-serif';
  --font-family-heading: "monanco, Helvetica, Arial, sans-serif";
  --font-size-base: 14px;
  --font-size-l1: 16px;
  --font-size-l2: 20px;
  --font-size-l3: 32px;
  --white-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

html,
#root,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  background: var(--main-bg-color);
}

.l-app {
  display: flex;
  flex-wrap: wrap;

  &_col {
    flex: 1 1 auto;
  }

  &_col--first {
    flex: 1 1 65%;
    // @design Why have a minimum instead of a ratio?
    min-width: 400px;
  }

  &_col--last {
    flex: 1 1 auto;
    min-width: 220px;
  }
}

.c-cal {
  min-width: 400px;
  height: 400px;
  border: 3px solid var(--bg-color-inverse);
  border-radius: 5px;
  box-shadow: 0 0 16px var(--bg-color-inverse);
  display: flex;
  flex-direction: column;
  margin: 4vw;

  &_display {
    flex: 0 0 auto;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding: 32px 16px;
    text-align: right;
    color: var(--bg-color-inverse);
    background: var(--main-bg-color-alt);
    display: flex;
    justify-content: flex-end;
  }

  &_keypad {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.c-keypad_digit {
  flex: 1 1 calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  border-top: 1px solid var(--bg-color-inverse);
  border-right: 1px solid var(--bg-color-inverse);

  & {
  }
}

.c-charge-section {
  &_container {
    background: var(--bg-color-inverse);
    border-radius: 5px;
    margin: 2vw;
    padding: 16px;
    color: var(--white-color);
  }

  &_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-display: var(--font-family-heading);
    text-align: right;

    li {
      width: 100%;
    }
  }

  &_divider {
    margin: 2px 0;
    height: 1px;
    background: var(--white-color);
  }

  &_total {
    text-align: right;
  }
}

.a-amount {
}
